
server-mul/cmake-build-debug/Testing/Temporary/LastTest.log
server-mul/cmake-build-debug/server_mul
server-mul/cmake-build-debug/CMakeFiles/server_mul.dir/main.c.o
server-mul/cmake-build-debug/CMakeFiles/server_mul.dir/C.includecache
server-mul/.idea/workspace.xml
*.o
*.log
*.includecache
*.xml
learning/cmake-build-debug/Testing/Temporary/LastTest.log
learning/cmake-build-debug/Makefile
learning/cmake-build-debug/learning.cbp
learning/cmake-build-debug/learning
learning/cmake-build-debug/CMakeFiles/Progress/2
learning/cmake-build-debug/CMakeFiles/Progress/1
learning/cmake-build-debug/CMakeFiles/progress.marks
learning/cmake-build-debug/CMakeFiles/Makefile2
learning/cmake-build-debug/CMakeFiles/Makefile.cmake
learning/cmake-build-debug/CMakeFiles/learning.dir/progress.make
learning/cmake-build-debug/CMakeFiles/learning.dir/main.c.o
learning/cmake-build-debug/CMakeFiles/learning.dir/link.txt
learning/cmake-build-debug/CMakeFiles/learning.dir/flags.make
learning/cmake-build-debug/CMakeFiles/learning.dir/DependInfo.cmake
learning/cmake-build-debug/CMakeFiles/learning.dir/depend.make
learning/cmake-build-debug/CMakeFiles/learning.dir/depend.internal
learning/cmake-build-debug/CMakeFiles/learning.dir/cmake_clean.cmake
learning/cmake-build-debug/CMakeFiles/learning.dir/C.includecache
learning/cmake-build-debug/CMakeFiles/learning.dir/build.make
learning/cmake-build-debug/CMakeFiles/CMakeOutput.log
learning/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
learning/cmake-build-debug/CMakeFiles/cmake.check_cache
learning/cmake-build-debug/CMakeFiles/clion-log.txt
learning/cmake-build-debug/CMakeFiles/clion-environment.txt
learning/cmake-build-debug/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
learning/cmake-build-debug/CMakeFiles/3.16.3/CMakeSystem.cmake
learning/cmake-build-debug/CMakeFiles/3.16.3/CMakeCCompiler.cmake
learning/cmake-build-debug/CMakeCache.txt
learning/cmake-build-debug/cmake_install.cmake
learning/.idea/workspace.xml
client/cmake-build-debug/Testing/Temporary/LastTest.log
